# Виртуальное окружение
venv/
# Кэш Python
__pycache__/
*.pyc
# База данных
*.db
users.db
# Файл с ключами (если есть)
steam_key.txt
# Логи
*.log
# Папка загрузок (если не хотим загружать картинки)
static/uploads/
# Файлы проекта (кроме кода – но код мы загружаем, оставляем)
# Всё остальное оставляем, но можно добавить специфику IDE
.vscode/
.idea/